﻿@{
//ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">ข้อมูล</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="exampleInputEmail1">ชื่อ</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label for="exampleInputEmail1">สกุล</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="exampleInputEmail1">UserName</label>
                                <input type="text" class="form-control" placeholder="UserName">
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>สถานะสมรส</label>
                                    <select class="form-control">
                                        <option>โสด</option>
                                        <option>สมรส</option>
                                        <option>หม้าย</option>
                                        <option>หย่า</option>
                                        <option>แยกกันอยู่ </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label>รายละเอียด</label>
                                <textarea class="form-control" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <!-- /.card-body -->

                <div class="card-footer">
                    <div style="text-align:right;">
                        <button type="submit"  class="btn btn-primary">ยืนยัน</button>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">ข้อมูลพนักงาน</h3>
            </div>

            <form>
                <div class="card-body">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>ชื่อ</th>
                                        <th>สกุล</th>
                                        <th>สถานะสมรส</th>
                                        <th>รายละเอียด</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>นอนนา</td>
                                        <td>แล้ว</td>
                                        <td>โสด</td>
                                        <td>
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ยังไม่ได้นอน</td>
                                        <td>นะ</td>
                                        <td>โสด</td>
                                        <td>
                                            -
                                        </td>
                                    </tr>
 
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                   
                </div>

            </form>
        </div>

